.page {
  margin: 0;
  height: 100vh;

  @extend %df-center;
}

.calendar {
  @extend %calendar-grid;

  padding: $padd-10;

  &__day {
    @extend %cell-grid;
    @extend %cell-content-style;
    @extend %df-center;

    transition-duration: 0.5s;

    &:hover {
      cursor: pointer;
      background: $cell-bg-hover;
      transform: translateY($tr-duretion);
    }
  }
}
