%calendar-grid {
  display: flex;
  flex-wrap: wrap;
  gap: $cell-gap;
  flex: none;
  box-sizing: border-box;
  width: calc(7 * $cell-size + 6 * $cell-gap + 2 * $padd-10);
}

%cell-grid {
  box-sizing: border-box;
  flex: 0 0 $cell-size;
  height: $cell-size;
}

%cell-content-style {
  border: $cell-border;
  font-family: $cell-font, sans-serif;
  font-size: $cell-font-size;
  background: $cell-bg-basic;
}

%df-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
