$cell-bg-basic: #eee;
$cell-bg-hover: #ffbfcb;
$cell-size: 100px;
$cell-gap: 1px;
$cell-font: Arial;
$cell-font-size: 30px;
$cell-border: 1px solid #000;
$padd-10: 5px;
$tr-duretion: -20px;
$s-d: start-day;
$mon-len: month-length;
